ion-card-header {
    padding: 6px 16px;
    height: 27px;
}

ion-chip{
    height: 24px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.empty {
    text-decoration: line-through;
}

.text-sport-play{
    font-size: 13px;
}

