@import '~@angular/material/theming';

.mat-card-header { 
    justify-content: center; 
}

.footer-md:before {
    background-image: none;
}

.logo-header {
  margin-top: 30px;
  overflow: hidden;
  width: 150px;
}

  ion-slides {
    --bullet-background:black;
    --bullet-background-active: #3298be;
}

.color-grey {
  color: $dark-secondary-text;
}

.serif {
  font-family: 'Bree Serif', serif;
}

.txt-size {
  font-size: 16px;
}

  .userOnboard {
      height: 76%;
  }  

  .img-slide-01 {
    width: 80%;
    height: 100%;
    overflow: hidden;
  }

  .img-slide-03 {
    width: 70%;
    height: 100%;
    overflow: hidden;
  }

  .img-slide-04 {
    width: 70%;
    height: 90%;
    overflow: hidden;
  }  


  .value-prop {
    font-family: 'Bree Serif', serif;
    color: $dark-secondary-text;
    width: 80%;
    margin-top: 0;
  }

  .value-prop-slide-04 {
    font-family: 'Bree Serif', serif;
    color: $dark-secondary-text;
    margin-top: 10px;
  }

 p{
    font-family: 'Bree Serif', serif;
    color:$dark-secondary-text;
    margin-top: 10px;
  }

  a {
    width: 90%;
  }

