<ion-content>
  <div class="container">
    <ion-img class="logo-header" src="/assets/logo-nome_knowfoot_color_b11669afc83c4898afcb088c8adf7d70.svg"></ion-img>

  </div>
  <ion-slides pager="true" [options]="userOnboardOpts" class="userOnboard">
    <ion-slide>
      <div class="container">
        <img class="img-slide-01" src="/assets/user-onboard_slide-02.svg" />
        <h3 class="value-prop">
          {{ 'landing.slide1.welcome' | translate}} <br>
          {{ 'landing.slide1.propValue' | translate}}
        </h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <img class="img-slide-01" src="/assets/user-onboard_slide-01.svg" />
        <h3 class="value-prop">
          {{ 'landing.slide2.propValue' | translate}}
        </h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <img class="img-slide-03" src="/assets/user-onboard_slide-03.svg" />
        <h4 class="value-prop">
          {{ 'landing.slide3.propValue' | translate}}<br>
          {{ 'landing.slide3.fpi' | translate}}<br>
          {{ 'landing.slide3.drop' | translate}}
        </h4>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <img class="img-slide-04" src="/assets/user-onboard_slide-04.svg" />
        <h3 class="value-prop-slide-04">
          {{ 'landing.slide4.propValue' | translate}}
        </h3>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer padding>
  <div class="container">
    <a [routerLink]="['/signup']" mat-flat-button color="primary">
      <mat-icon>how_to_reg</mat-icon>
      <span class="txt-size">{{ 'landing.signin' | translate }}</span>
    </a>
    <a mat-button color="primary" [routerLink]="['/login']">
      <span class="serif txt-size">
        <span class="color-grey">{{ 'landing.haveAccount' | translate}}</span>
        {{ 'landing.login' | translate}}
      </span>
    </a>
  </div>
</ion-footer>