<ion-header class="header">
  <ion-buttons slot="start">
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="ion-text-center">
    <h4>Avaliação</h4>
    <h2> {{ patient.name }}</h2>
  </div>
</ion-header>

<ion-footer>
  <ion-grid fixed >
    <ion-row>
      <ion-col size="10">
        <h6 >Selecione o método</h6>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <div class="info-icon">
          <button mat-icon-button aria-label="informacoes" color="primary">
            <ion-icon name="information-circle-outline"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <mat-card class="opt-card" matRipple (click)="startAssess(assessMethod.NavicularDrop)">
          <div class="container">
            <img class="method-img" src="/assets/svg/method-drop.svg" alt="">
            <mat-card-title>Drop Navicular</mat-card-title>
            <mat-card-subtitle>Confiável</mat-card-subtitle>
          </div>
        </mat-card>
      </ion-col>
      <ion-col size="6">
        <mat-card class="opt-card" matRipple (click)="startAssess(assessMethod.Fpi)">
          <div class="container">
            <img class="method-img" src="/assets/svg/method-fpi.svg" alt="">
            <mat-card-title>Foot Posture Index</mat-card-title>
            <mat-card-subtitle>Altamente confiável</mat-card-subtitle>
          </div>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-footer>