<!-- <ion-header>
  <ion-toolbar>
    <ion-title>FPI  
      <ion-chip color="dark">
        <ion-label class="ion-text-capitalize">
          Pé {{ current.footAssessed }}
        </ion-label>
      </ion-chip>
    </ion-title>
     <ion-buttons slot="start" *ngIf="current.observationSlide === 0">
      <ion-button [routerLink]="['/main/assess']" routerDirection="back">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="current.observationSlide !== 0">
      <ion-button class="ion-text-capitalize" (click)="fpiSlides.slidePrev(); changeFootViewPicture()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="current.observationSlide !== 4">
      <ion-button class="ion-text-capitalize" fill="solid" color="primary"
        (click)="fpiSlides.slideNext(); changeFootViewPicture()">
        Próximo
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="current.observationSlide === 4">
      <ion-button class="ion-text-capitalize" fill="solid" color="primary"
        (click)="footPostureResult(); presentResult()">
        Resultado
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-item (click)="presentInformation($event)" lines="none" color="light">
  <ion-label>
    <small><strong>Observar</strong> • {{ observationCriteria[current.observationSlide] }}</small>
  </ion-label>
  <ion-icon name="information-circle" slot="end"></ion-icon>
</ion-item>  -->

<ion-content color="medium">
  <div class="view-image">
    <div *ngIf="!current.footPictureActive" class="ion-text-center guide">
      <!-- <br><br><br><br> -->
      <ion-icon style="font-size: 150px" name="images" color="light"></ion-icon>
    </div>
  </div>
 <!--  <div class="foot-picture" *ngIf="current.footPictureActive" [style.backgroundImage]="current.footPictureActive">
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!current.footPictureActive">
    <ion-fab-button (click)="takePicture(current.footView)">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="current.footPictureActive">
    <ion-fab-button (click)="deletePicture(current.footView)" size="small" color="light">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>

<ion-footer>
  <!-- <ion-slides #fpiSlides [options]="fpiSlideOptions" pager="true" noSwipingClass
    (ionSlideWillChange)="setCurrentObservationSlide(fpiSlides.getActiveIndex())">
    <ion-slide>
      <ion-slides class="score-slide" #fpiScoresSlides00 [options]="fpiScoreSlideOptions"
        (ionSlideWillChange)="setScore(fpiScoresSlides00.getActiveIndex())">
        <ion-slide *ngFor="let fpiScoreImage00 of fpiScoreImages00">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons class="information-score">
                  <ion-button (click)="presentInformation($event)">
                    <ion-icon slot="icon-only" name="information-circle-outline" color="medium"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <br>
                <ion-icon class="image-score" name="image"></ion-icon>                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-slide>
    <ion-slide>
      <ion-slides class="score-slide" #fpiScoresSlides01 [options]="fpiScoreSlideOptions"
        (ionSlideWillChange)="setScore(fpiScoresSlides01.getActiveIndex())">
        <ion-slide *ngFor="let fpiScoreImage00 of fpiScoreImages00">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons class="information-score">
                  <ion-button (click)="presentInformation($event)">
                    <ion-icon slot="icon-only" name="information-circle-outline" color="medium"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <br>
                <ion-icon class="image-score" name="image"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-slide>
    <ion-slide>
      <ion-slides class="score-slide" #fpiScoresSlides02 [options]="fpiScoreSlideOptions"
        (ionSlideWillChange)="setScore(fpiScoresSlides02.getActiveIndex())">
        <ion-slide *ngFor="let fpiScoreImage00 of fpiScoreImages00">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons class="information-score">
                  <ion-button (click)="presentInformation($event)">
                    <ion-icon slot="icon-only" name="information-circle-outline" color="medium"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <br>
                <ion-icon class="image-score" name="image"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-slide>
    <ion-slide>
      <ion-slides class="score-slide" #fpiScoresSlides03 [options]="fpiScoreSlideOptions"
        (ionSlideWillChange)="setScore(fpiScoresSlides03.getActiveIndex())">
        <ion-slide *ngFor="let fpiScoreImage00 of fpiScoreImages00">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons class="information-score">
                  <ion-button (click)="presentInformation($event)">
                    <ion-icon slot="icon-only" name="information-circle-outline" color="medium"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <br>
                <ion-icon class="image-score" name="image"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-slide>
    <ion-slide>
      <ion-slides class="score-slide" #fpiScoresSlides04 [options]="fpiScoreSlideOptions"
        (ionSlideWillChange)="setScore(fpiScoresSlides04.getActiveIndex())">
        <ion-slide *ngFor="let fpiScoreImage00 of fpiScoreImages00">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons class="information-score">
                  <ion-button (click)="presentInformation($event)">
                    <ion-icon slot="icon-only" name="information-circle-outline" color="medium"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <br>
                <ion-icon class="image-score" name="image"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides> -->
</ion-footer>
<!-- 
<ion-content class="ion-padding">
  <a mat-flat-button color="primary" (click)="takeInitialFootPhotos()">
      <mat-icon>camera</mat-icon>
      <span>pra que esse botao...</span>
  </a>
</ion-content> -->
