<!-- <ion-header>
  <ion-toolbar>
    <ion-title>FPI  
      <ion-chip color="dark">
        <ion-label class="ion-text-capitalize">
          Pé {{ current.footAssessed }}
        </ion-label>
      </ion-chip>
    </ion-title>
     <ion-buttons slot="start" *ngIf="current.observationSlide === 0">
      <ion-button [routerLink]="['/main/assess']" routerDirection="back">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="current.observationSlide !== 0">
      <ion-button class="ion-text-capitalize" (click)="fpiSlides.slidePrev(); changeFootViewPicture()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="current.observationSlide !== 4">
      <ion-button class="ion-text-capitalize" fill="solid" color="primary"
        (click)="fpiSlides.slideNext(); changeFootViewPicture()">
        Próximo
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="current.observationSlide === 4">
      <ion-button class="ion-text-capitalize" fill="solid" color="primary"
        (click)="footPostureResult(); presentResult()">
        Resultado
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-item (click)="presentInformation($event)" lines="none" color="light">
  <ion-label>
    <small><strong>Observar</strong> • {{ observationCriteria[current.observationSlide] }}</small>
  </ion-label>
  <ion-icon name="information-circle" slot="end"></ion-icon>
</ion-item>  -->

<ion-content>
  <div class="scores-navegation">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <button mat-icon-button *ngIf="current.observationSlide === footObservation.CalcanealFrontalPlanePosition">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button *ngIf="current.observationSlide !== footObservation.CalcanealFrontalPlanePosition" 
            (click)="observationPrevious()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </ion-col>
        <ion-col size="8" class="ion-text-right">
          <a mat-flat-button class="next-button" color="primary"
            *ngIf="current.observationSlide !== footObservation.ProeminenceInRegionOfTnj"
            [disabled]="!isScoreSelected"
            (click)="observationNext()">
            Próximo
            <mat-icon>arrow_forward</mat-icon>
          </a>
          <a mat-flat-button class="next-button" color="primary"
            *ngIf="current.observationSlide === footObservation.ProeminenceInRegionOfTnj"
            [disabled]="!isScoreSelected"
            (click)="endFootAssessment()">
            Concluir avaliação do pé {{ currentFootSide }}
            <!-- <mat-icon>arrow_forward</mat-icon> -->
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="info-observation-icon" (click)="showObservationInfo = !showObservationInfo">
    <mat-icon>info</mat-icon>
  </div>
  
  <div class="info-observation-text" *ngIf="showObservationInfo" [@inOutAnimation]>
    <p>Observe o grau de inclinação do calcânio em relação ao solo</p>
  </div>
  <div class="view-image" (click)="showObservationInfo = !showObservationInfo">
    <div *ngIf="!current.footPictureActive" class="ion-text-center guide">
      <img class="foot-picture" [src]="'/assets/svg/view_observation_guide_' + current.footView + '.svg'" />
    </div>
  </div>
  <!--  <div class="foot-picture" *ngIf="current.footPictureActive" [style.backgroundImage]="current.footPictureActive">
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!current.footPictureActive">
    <ion-fab-button (click)="takePicture(current.footView)">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="current.footPictureActive">
    <ion-fab-button (click)="deletePicture(current.footView)" size="small" color="light">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
<ion-footer>
  <ion-slides [options]="fpiSlideOptions" noSwipingClass
    (ionSlideWillChange)="setCurrentFootObservation(fpiSlides[0].getActiveIndex())">
    <ion-slide *ngFor="let observation of footObservation | keyvalue: keepOrder; let i = index">
      <ion-slides class="score-slide" [options]="slideOptions"
        (ionSlideTouchEnd)="setScore(fpiSlides[i+1].getActiveIndex()); validScoreSelected()"
        (ionSlideWillChange)="setScore(fpiSlides[i+1].getActiveIndex())">
        <ion-slide *ngFor="let posture of footPosture | keyvalue: keepOrder; let j = index"
          [ngClass]="{'active': j === activeScore && isScoreSelected} ">
          <ion-grid>
            <ion-row>
              <ion-col>
                <mat-icon [ngClass]="j === activeScore && isScoreSelected ? 'checked':'unchecked'">
                  {{ j === activeScore && isScoreSelected ? 'check_circle':'radio_button_unchecked' }}
                </mat-icon>
                <img class="foot-posture" [ngStyle]="{'transform':currentFootSide === 'Left' ? 'scaleX(-1)' : 'none' }"
                  [src]="'/assets/svg/observations/' + observation.value + '_' + posture.key + '.svg'" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides>
</ion-footer>