.image-score {
    font-size: 80px;
}

.information-score{
    position: absolute;
    right: -10px;
    top: 0px;
}

.score-slide .swiper-slide-active{
    background-color: #EEE;
}

// .fpi-criteria{
//     width: 100%;
//     text-align: center !important;
// }
