<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar 
      placeholder="Escolha o atleta"
      [(ngModel)]="searchAthlete"
      clearIcon>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item-divider>
        <!-- <ion-label>
          <strong><small>ATLETAS</small></strong>
        </ion-label> -->
      </ion-item-divider>
      <ion-item color="primary">
        <ion-icon name="person-add" slot="end"></ion-icon>
        <ion-label> NOVO ATLETA</ion-label>
      </ion-item>
      <!-- <ion-item
      *ngFor="let athlete of athletes | async | filter: searchAthlete">
        <ion-label>{{ athlete.name }}</ion-label>
      </ion-item> -->

</ion-content>


