$knowfoot-cyan: (
  50 : #e6f3f7,
  100 : #c2e0ec,
  200 : #99ccdf,
  300 : #70b7d2,
  400 : #51a7c8,
  500 : #3298be,
  600 : #2d90b8,
  700 : #2685af,
  800 : #1f7ba7,
  900 : #136a99,
  A100 : #ccebff,
  A200 : #99d8ff,
  A400 : #66c4ff,
  A700 : #4dbaff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ));

$knowfoot-blue: (
  50 : #e2e4e7,
  100 : #b6bbc2,
  200 : #868d99,
  300 : #555f70,
  400 : #303d52,
  500 : #0c1b33,
  600 : #0a182e,
  700 : #081427,
  800 : #061020,
  900 : #030814,
  A100 : #5577ff,
  A200 : #224eff,
  A400 : #0030ee,
  A700 : #002ad4,
  contrast: (50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $light-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  ));



$knowfoot-red: (
  50 : #fde7e9,
  100 : #fbc4c8,
  200 : #f89da3,
  300 : #f5757e,
  400 : #f25863,
  500 : #f03a47,
  600 : #ee3440,
  700 : #ec2c37,
  800 : #e9252f,
  900 : #e51820,
  A100 : #ffffff,
  A200 : #ffe4e5,
  A400 : #ffb1b3,
  A700 : #ff979a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ));