@import '~@angular/material/theming';

.mat-form-field {
    width: 100%;
}

ion-footer {
    padding: 10px;
    border-top: 1px solid rgba(black, 0.05);;      
}

.footer-md:before {
    background-image: none;    
}
.container a {
    width:100%;
}

img {
    margin-top: 8px;
    overflow: hidden;
    width: 130px;
  }


.prefix {
    // color: rgb(187, 197, 207);
    color: $dark-disabled-text;
    margin: 0 7px 0 0;
}

.txt-size {
    font-size: 16px;
}

p {
    color: $dark-secondary-text;
    font-size: 12px;
    margin-top: 5px;
    
}

.title {
    color: rgba(rgb(0, 0, 0), 0.7);
    font-family: 'Bree Serif', serif;
    margin: 0;
  }
  

