.mat-form-field {
    width: 100%;
}

ion-footer {
    padding: 10px;      
}

.footer-md:before {
    background-image: none;
}
.action-button {
    width: 100%;
    padding: 5px;
}

img {
    margin-top: 8px;
    overflow: hidden;
    width: 130px;
  }

.forgot-button {
    padding-left: 0;
}

.title-page {
justify-content: center; 
}