<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- backdrop para bloquear touch no fundo do form-->
  <ion-backdrop></ion-backdrop>
  <!-- <ion-card padding> -->
  <ion-card-title text-center margin-top>Recuperar senha</ion-card-title>

  <form [formGroup]="resetPasswordForm">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input #emailInput formControlName="email" type="email" inputmode="email" clearInput="true"
        (ionFocus)="input.email.markAsUntouched()">
      </ion-input>
    </ion-item>
    <div *ngIf="input.email.invalid && input.email.touched">
      <div *ngFor="let validation of validationMessages.email">
        <ion-text padding-start *ngIf="input.email.hasError(validation.type)">
          {{validation.message}}
        </ion-text>
      </div>
    </div>   

  </form>
  <!-- </ion-card> -->  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" expand="full" size="large" (click)="resetPassword()" [disabled]="!resetPasswordForm.valid">
      Recuperar</ion-button>
  </ion-toolbar>
</ion-footer>